<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Datos Personales</h4>
            <p class="card-category">Complete los campos</p>
          </div>
          <div class="card-body">
            <form [formGroup]="pacienteForm" (ngSubmit)="guardar()">

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input style="text-transform:uppercase;" matInput placeholder="Nombres*" type="text"
                      formControlName="nombres" class="form-control">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input style="text-transform:uppercase;" matInput placeholder="Apellidos*" type="text"
                      formControlName="apellidos" class="form-control">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Tipo de Identificación*</mat-label>
                    <mat-select name="tipoIdentificacion" id="tipoIdentificacion"
                      formControlName="tipoIdentificacion" class="form-control">
                      <mat-option value="CED">Cédula</mat-option>
                      <mat-option value="PAS">Pasaporte</mat-option>
                      <mat-option value="NIN">Ninguno</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Identificación" maxlength="10" type="text"
                      formControlName="identificacion" class="form-control">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Seguro Social</mat-label>
                    <mat-select name="seguroSocial" id="seguroSocial" formControlName="seguroSocial"
                      class="form-control">
                      <mat-option value="SI">Sí</mat-option>
                      <mat-option value="NO">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Género*</mat-label>
                    <mat-select name="genero" id="genero" formControlName="genero" class="form-control">
                      <mat-option value="FEM">Femenino</mat-option>
                      <mat-option value="MAS">Masculino</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Fecha de nacimiento*" type="date" formControlName="fechaNacimiento"
                      class="form-control">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input style="text-transform:uppercase;" matInput placeholder="Dirección" type="text"
                      formControlName="direccion" class="form-control">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input maxlength="10" style="text-transform:uppercase;" matInput placeholder="Teléfono"
                      type="number" formControlName="telefono" class="form-control">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input style="text-transform:uppercase;" matInput placeholder="Nacionalidad*" type="text"
                      formControlName="nacionalidad" class="form-control">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Tipo de sangre*</mat-label>
                    <mat-select name="tipoSangre" id="tipoSangre" formControlName="tipoSangre" class="form-control">
                      <mat-option value="A+">A Positivo</mat-option>
                      <mat-option value="A-">A Negativo</mat-option>
                      <mat-option value="B+">B Positivo</mat-option>
                      <mat-option value="B-">B Negativo</mat-option>
                      <mat-option value="O+">O Positivo</mat-option>
                      <mat-option value="O-">O Negativo</mat-option>
                      <mat-option value="AB+">AB Positivo</mat-option>
                      <mat-option value="AB-">AB Negativo</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-primary pull-right">Guardar</button>
              <div class="clearfix"></div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>