<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Datos del Examen</h4>
                        <p class="card-category">Complete los campos</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="consultaExamenForm" (ngSubmit)="guardarConsultaExamen()">
                            <input type="hidden" formControlName="codigoConsulta">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Examen Medico</mat-label>
                                        <mat-select matInput placeholder="Examen Medico" name="codigoExamen" id="codigoExamen" formControlName="codigoExamen" class="form-control">
                                            <mat-option value="{{item.codigo}}" *ngFor="let item of examenes">
                                                {{item.nombre}} {{item.tipo}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Fecha de examen"  type="datetime-local" formControlName="fechaExamen" class="form-control">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Motivo" type="text" formControlName="motivo" class="form-control">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Url Resultado Informe" type="text" formControlName="urlresultadoInforme" class="form-control">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Url Resultado Imagen" type="text" formControlName="rlresultadoImagen" class="form-control">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-primary pull-right">Guardar</button>
                            <div class="clearfix"></div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>